*
	box-sizing: border-box

body	
	+reg
img
	max-width: 100%
	
.container
	width: 1170px
	margin: auto

.line_break-off 
	display: inline

.line_break1200, .line_break768	
	display: none

.text_bold	
	+bold
.text_bold a	
	color: #000000
	text-decoration: none
	

.input
	border: 1px solid $border-input
	&:focus
		outline: none
		border-color: orange
	&-group		
		position: relative
		width: 100%

.input.invalid
	border: 1px solid red

.modal-dialog__form	div.invalid
	bottom: 30px

div.invalid
	font-size: 16px
	width: 100%	
	color: red
	position: absolute
	bottom: 15px	
	left: 0
	text-align: center	

@media(max-width: 1200px)
	.container
		width: 760px
	.line_break1200
		display: inline		

@media(max-width: 768px)
	.container
		width: 90%
		max-width: 580px	
	.line_break768
		display: inline
	.line_break-off	
		display: none				
@media(max-width: 576px)				
	.container
		width: 320px		
	div.invalid
		font-size: 12px		

.button
	border-radius: 10px
	background-color: $main-color
	padding: 18px 30px
	border: none
	outline: none
	cursor: pointer
	color: $text-color
	+bold
	&:hover
		background-color: lighten($main-color, 10%)

.section
	padding: 90px 0
	&-title
		font-size: 24px
		+bold
		text-align: center
	&-subtitle
		display: block
		font-size: 16px		
.input	
	padding: 22px 22px
	font-size: 15px
	border-radius: 10px



.button-up
	position: fixed
	z-index: 5
	bottom: 1%
	left: 50%
	transform: translateX(-50%);
	padding: 0
	min-width: 190px
	min-height: 30px
	font-size: 12px
	background-color: rgba($main-color, 0.5)	
	display: none
	span
		font-size: 18px
		
.arrows
	&__left, &__right
		// &:hover
		cursor: pointer