@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.line_break-off {
  display: inline;
}

.line_break1200, .line_break768 {
  display: none;
}

.text_bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.text_bold a {
  color: #000000;
  text-decoration: none;
}

.input {
  border: 1px solid #dddddd;
}

.input:focus {
  outline: none;
  border-color: orange;
}

.input-group {
  position: relative;
  width: 100%;
}

.modal-dialog__form div.invalid {
  bottom: 30px;
}

div.invalid {
  font-size: 16px;
  width: 100%;
  color: red;
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
  .line_break1200 {
    display: inline;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 580px;
  }
  .line_break768 {
    display: inline;
  }
  .line_break-off {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    width: 320px;
  }
  div.invalid {
    font-size: 12px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  padding: 18px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  padding: 22px 22px;
  font-size: 15px;
  border-radius: 10px;
}

.button-up {
  position: fixed;
  z-index: 5;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  min-width: 190px;
  min-height: 30px;
  font-size: 12px;
  background-color: rgba(255, 210, 0, 0.5);
  display: none;
}

.button-up span {
  font-size: 18px;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

/* Импорт стилей шапки */
.navbar {
  padding: 4px 0;
}

.navbar__logo {
  margin-top: 3px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__adress {
  font-size: 13px;
  margin-top: -1px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
  margin-right: 0px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__button {
  margin-left: 30px;
  min-width: 170px;
  min-height: 49px;
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    font-weight: 400;
    max-width: 137px;
    min-width: 137px;
    max-height: 39px;
    min-height: 39px;
    padding: 0;
    margin-left: 0;
    border-radius: 5px;
    margin-left: 4px;
  }
  .navbar__logo {
    width: 91px;
  }
}

@media (max-width: 576px) {
  .navbar__button {
    font-size: 10px;
  }
  .navbar-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-image {
  min-width: 270px;
  max-height: 491px;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
  margin-top: -2px;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 10px;
}

.hero-text__title {
  font-size: 42px;
  line-height: 55px;
  margin-left: -4px;
  margin-top: 29px;
  margin-bottom: 38px;
  letter-spacing: -0.6px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 65px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 22px;
  min-height: 48px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 36px;
  height: 36px;
  max-width: 40px;
  max-height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-image {
    max-height: 319px;
  }
  .hero-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-text__title {
    font-size: 32px;
  }
  .hero-text__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .hero-image {
    max-height: 491px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text {
    margin-bottom: 36px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 52px 0;
  }
  .hero-image {
    max-height: 478px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 12px;
    padding-right: 10px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-left: 4px;
    margin-bottom: 12px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-left: 6px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 576px) {
  .hero-image {
    max-height: 231px;
    margin-left: -1px;
  }
  .hero-text {
    margin-bottom: 24px;
  }
  .hero-text__title {
    line-height: 1.24;
    letter-spacing: 0px;
    margin-top: 19px;
    margin-bottom: 7px;
  }
  .hero-text__subtitle {
    margin-bottom: 24px;
    line-height: 1.2;
  }
  .hero-list {
    margin-left: 3px;
  }
  .hero-list__image {
    width: 36px;
    height: 36px;
  }
  .hero-list__item {
    margin-bottom: 12px;
  }
  .hero-list__text {
    line-height: 1.2;
  }
  .hero-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image {
    width: 270px;
  }
}

/* Стили для блока offer */
.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  padding-top: 58px;
  padding-bottom: 70px;
}

.offer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 32px;
}

.offer__input {
  margin-bottom: 30px;
  min-width: 240px;
}

.offer__input-group {
  display: inline-block;
  max-width: 240px;
}

.offer__input-group:first-child {
  margin-right: 10px;
}

.offer__input:first-child {
  padding-left: 24px;
}

.offer__input:last-of-type {
  padding-left: 31px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 11px;
}

.offer__communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__ourmanager {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  line-height: 24px;
  letter-spacing: -0.6px;
  margin-left: -1px;
}

.offer__phone {
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer__text {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  line-height: 25px;
  letter-spacing: -0.45px;
  margin-top: 13px;
  padding-left: 42px;
}

.offer__input-group div.invalid {
  bottom: 30px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__input-group {
    max-width: 100%;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer__communication {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__text {
    padding-left: 0;
  }
  .offer__input-group div.invalid {
    bottom: 15px;
  }
}

@media (max-width: 992px) {
  .offer-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  .offer {
    padding-top: 33px;
    padding-bottom: 36px;
  }
  .offer__title {
    font-size: 18px;
    font-weight: 400;
    max-width: 262px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .offer__subtitle {
    letter-spacing: -1px;
    margin-bottom: 25px;
  }
  .offer__form * {
    padding-left: 1px;
    max-width: 275px;
  }
  .offer__input {
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 0;
  }
  .offer__input:first-child {
    margin-bottom: 8px;
    padding-left: 21px;
  }
  .offer__input:last-of-type {
    padding-left: 21px;
    margin-bottom: 8px;
  }
  .offer__button {
    padding-left: 45px;
    padding-right: 45px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .offer__communication {
    padding-left: 7px;
  }
  .offer__ourmanager {
    margin-bottom: 6px;
  }
  .offer__text {
    margin-top: 0;
    margin-left: -2px;
  }
}

/* Стили для блока портфолио */
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") center left repeat-y;
  padding-top: 92px;
  padding-bottom: 80px;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 93px;
  font-size: 30px;
  line-height: 45px;
}

.portfolio__arrows {
  width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-nav {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-prev {
  margin-right: 15px;
  outline: none;
}

.owl-next {
  margin-left: 15px;
  outline: none;
}

.slick-slide {
  padding: 0 15px;
  outline: none;
}

@media (max-width: 768px) {
  .portfolio {
    background: #f5f5f5;
    padding-bottom: 42px;
  }
  .portfolio .slider {
    margin: 0 auto;
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    padding: 0;
    width: 246px;
  }
  .portfolio .slider__item {
    padding: 0;
  }
  .slider__item {
    width: 246px;
    height: 186px;
    margin-left: auto;
    margin-right: auto;
  }
  .owl-nav {
    margin-top: 46px;
  }
}

@media (max-width: 576px) {
  .portfolio {
    padding-top: 37px;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 22px;
    margin-left: -2px;
    margin-bottom: 41px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}

/* Стили для блока с ценами */
.price {
  padding-top: 88px;
}

.price__title {
  margin: auto;
  margin-bottom: 38px;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  max-width: 520px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  margin-bottom: 48px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.2px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  max-width: 370px;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  tranzition: 0.2;
}

.card:hover .card__image::before {
  opacity: 0.8;
}

.card__text {
  padding-top: 25px;
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 45px;
}

.card__title {
  margin-bottom: 2px;
  margin-top: 0;
  margin-left: 5px;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  tranzition: 0.2;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover::after {
  height: 13px;
}

.card__link::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  bottom: 8px;
  left: 0;
  z-index: -1;
  tranzition: 0.2;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .card {
    max-width: 271px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -5px;
  }
  .card__text {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: -4px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: -15px;
  }
  .card__link::after {
    width: 103%;
  }
  .price {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .price__title {
    font-size: 18px;
    line-height: 21px;
    max-width: 310px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 46px;
    margin-left: -22px;
  }
}

/* Стили для блока 5 шагов до ремонта*/
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
  padding-bottom: 4px;
}

.step:after {
  content: '';
  width: 73px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -11px;
  right: -15.5%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 27px;
}

.step:nth-child(1) img {
  margin-top: -2px;
}

.step:nth-child(2) img {
  margin-top: -1px;
}

.step:nth-child(3) img {
  margin-right: 2px;
}

.step:nth-child(4) img {
  margin-top: -1px;
}

.step:nth-child(5) img {
  margin-left: 3px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
  line-height: 20px;
}

.steps {
  padding-top: 32px;
}

.steps__title {
  margin: auto;
  max-width: 670px;
  margin-bottom: 38px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.2px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 28px;
    margin-left: -2px;
  }
  .step:after {
    display: none;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .step:nth-child(1) .step__image {
    margin-bottom: 20px;
  }
  .step:nth-child(2) .step__image {
    margin-bottom: 30px;
  }
  .steps {
    padding-top: 22px;
    padding-bottom: 44px;
  }
  .steps__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
    margin-left: -7px;
  }
  .steps__subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: -5px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* Стили для блока бриф*/
.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50.1%, cover;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 214px;
  text-align: center;
}

.brif__input {
  width: 100%;
  width: 100%;
  max-width: 370px;
  height: 65px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview__title {
  margin-top: 9px;
  margin-bottom: 44px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.interview__subtitle {
  display: block;
  margin-bottom: 92px;
  font-size: 16px;
  margin-left: 2px;
}

.interview-list {
  list-style: none;
  padding-left: 1px;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__item:nth-child(1) {
  margin-bottom: 26px;
}

.interview-list__item:nth-child(1) .interview-list__text {
  margin-top: -2px;
}

.interview-list__item:nth-child(2) {
  margin-bottom: 18px;
}

.interview-list__item:nth-child(3) {
  margin-bottom: 32px;
}

.interview-list__item:nth-child(3) .interview-list__text {
  margin-top: 15px;
  line-height: 22px;
}

.interview-list__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  font-size: 18px;
  max-width: 400px;
  letter-spacing: -0.2px;
}

.form__title {
  margin-top: 5px;
  margin-bottom: 45px;
  letter-spacing: -1.05px;
  margin-left: 2px;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.form__subtitle {
  display: block;
  margin-bottom: 50px;
  font-size: 16px;
}

.form__description {
  display: block;
  text-align: center;
  letter-spacing: -0.5px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 15px;
    padding-left: 15px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-style: 14px;
    max-width: 200px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-repeat: repeat-x, no-repeat;
    background-size: 100% 44.7%, cover;
    padding-top: 33px;
    padding-bottom: 30px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 94px;
    padding-left: 0;
    padding-right: 0;
  }
  .brif__input {
    max-width: 275px;
    margin-bottom: 8px;
  }
  .brif__button {
    max-width: 275px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
  }
  .interview {
    padding-left: 21px;
  }
  .interview__title {
    line-height: 22px;
    letter-spacing: -1.11px;
    margin-bottom: 13px;
  }
  .interview__subtitle {
    max-width: 180px;
    letter-spacing: -1px;
    line-height: 16px;
    margin-bottom: 38px;
  }
  .interview-list__counter {
    margin-right: 10px;
    padding-left: 3px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 240px;
  }
  .interview-list__item {
    margin-left: -2px;
  }
  .interview-list__item:nth-child(1) {
    margin-bottom: 22px;
  }
  .interview-list__item:nth-child(1) .interview-list__text {
    margin-top: 2px;
  }
  .interview-list__item:nth-child(2) {
    margin-bottom: 19px;
  }
  .interview-list__item:nth-child(2) .interview-list__text {
    margin-top: 10px;
  }
  .interview-list__item:nth-child(3) {
    margin-bottom: 24px;
  }
  .interview-list__item:nth-child(3) .interview-list__text {
    line-height: 16px;
    margin-top: 2px;
  }
  .form__title {
    line-height: 24px;
    margin-left: -3px;
    margin-bottom: 24px;
    letter-spacing: -1.1px;
  }
  .form__title span {
    display: inline-block;
    margin-left: 5px;
  }
  .form__subtitle {
    letter-spacing: -1.1px;
    margin-bottom: 33px;
  }
  .form__description {
    max-width: 140px;
    line-height: 24px;
    letter-spacing: -1.1px;
    margin: auto;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
}

/* Стили для подвала сайта*/
.warranty {
  text-align: center;
  padding-top: 0;
  padding-bottom: 226px;
}

.warranty-header {
  background-color: #ffc000;
  min-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warranty-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 22px;
}

.warranty-title span {
  margin-left: -9px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 103px;
}

.advantage-item {
  max-width: 370px;
  min-width: 370px;
  max-height: 410px;
  min-height: 410px;
}

.advantage-item:nth-child(1) {
  background: #f7f7f7 url("../img/warranty/advantage1.png") bottom center no-repeat;
  background-size: contain;
}

.advantage-item:nth-child(2) {
  background: #f7f7f7 url("../img/warranty/advantage2.png") bottom center no-repeat;
  background-size: contain;
}

.advantage-item:nth-child(3) {
  background: #f7f7f7 url("../img/warranty/advantage3.png") bottom center no-repeat;
  background-size: contain;
}

.advantage-item__text {
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  padding-left: 26px;
  padding-top: 6px;
}

.advantage-item__bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contract-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 92px;
}

.contract-item {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract-item:nth-child(2) {
  margin-left: 28px;
  margin-right: 28px;
}

.contract-item__image {
  max-width: 270px;
  min-width: 270px;
  max-height: 360px;
  min-height: 360px;
  background-color: #f5f5f5;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contract-item__text {
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .advantage {
    padding-top: 59px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantage-item {
    margin-bottom: 31px;
  }
  .warranty {
    padding-bottom: 100px;
  }
  .warranty-title {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .contract-title {
    font-size: 22px;
    margin-bottom: 46px;
  }
  .contract-item {
    min-width: 270px;
    margin-bottom: 44px;
  }
  .contract-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contract-item__image {
    margin-bottom: 29px;
  }
  .contract-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .contract-item__text {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 768px) {
  .warranty {
    padding-bottom: 43px;
  }
  .warranty-title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
  }
  .warranty-title span {
    margin-left: 0;
  }
  .warranty-header {
    min-height: 231px;
  }
  .advantage {
    padding-bottom: 24px;
  }
  .advantage-item {
    min-width: 272px;
    min-height: 300px;
  }
  .advantage-item:nth-child(2) {
    min-height: 307px;
    min-width: 277px;
    margin-left: -2px;
    margin-bottom: 28px;
  }
  .advantage-item:nth-child(2) .advantage-item__text {
    padding-left: 25px;
  }
  .advantage-item:nth-child(3) {
    min-height: 304px;
    min-width: 275px;
    margin-left: -4px;
  }
  .advantage-item__text {
    padding-top: 5px;
    font-size: 12px;
    line-height: 17.05px;
    padding-left: 19px;
  }
  .contract-title {
    font-size: 18px;
    line-height: 22px;
  }
  .contract-item:nth-child(2) {
    margin-bottom: 43px;
  }
  .contract-item:nth-child(2) .contract-item__image {
    margin-bottom: 28px;
  }
  .contract-item:nth-child(3) .contract-item__image {
    margin-bottom: 28px;
  }
}

/* Стили для подвала сайта*/
.footer {
  position: relative;
  color: #000000;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 69px;
  padding-bottom: 110px;
  padding-left: 210px;
}

.contacts-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 95px;
  margin-left: 3px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-list__item:nth-child(1) {
  margin-bottom: 36px;
}

.contacts-list__item:nth-child(2) {
  margin-bottom: 34px;
}

.contacts-list__item:nth-child(3) .contacts-list__text {
  margin-left: 1px;
}

.contacts-list__text {
  line-height: 26px;
  margin-top: -6px;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    min-height: 1122px;
  }
  .contacts {
    padding-top: 46px;
    padding-left: 22px;
  }
  .contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 37px;
  }
  .contacts-list__icon {
    margin-right: 12px;
  }
  .contacts-list__item:nth-child(2) .contacts-list__text {
    margin-left: 1px;
  }
  .contacts-list__item:nth-child(3) .contacts-list__text {
    margin-left: 2px;
  }
  .map {
    top: 457px;
    width: 100%;
    height: 665px;
  }
}

/* Стили модального окна */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #333333;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  min-width: 570px;
  height: 674px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px;
  padding: 5px 10px;
}

.modal-dialog__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: 10px;
}

.modal-dialog__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  margin-left: 8px;
  margin-bottom: 42px;
}

.modal-dialog__form {
  min-width: 370px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.modal-dialog__input {
  height: 65px;
  padding-left: 25px;
}

.modal-dialog__input:first-child {
  margin-bottom: 15px;
}

.modal-dialog__input:last-of-type {
  margin-bottom: 30px;
}

.modal-dialog__input {
  width: 100%;
}

.modal-dialog__button {
  width: 366px;
  height: 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.modal-dialog__text {
  font-size: 15px;
  line-height: 20px;
}

.modal-dialog__phone {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 12px;
  letter-spacing: -0.6px;
}

@media (max-width: 768px) {
  .modal-dialog {
    min-width: 320px;
    height: 600px;
    padding: 0;
  }
  .modal-dialog__title {
    margin-bottom: 0;
  }
  .modal-dialog__subtitle {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
  }
  .modal-dialog__form {
    min-width: 300px;
    padding-right: 0;
  }
  .modal-dialog__input {
    width: 90%;
  }
  .modal-dialog__button {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=style.css.map */